<md-toolbar class="md-whiteframe-z1"> 
    <div class="md-toolbar-tools panel2" layout="row">
		<div flex> 
			<h2 class="black-clr">MODALS</h2>
		</div>
		<div flex>
			<div style="text-align: right;">

		        <md-button class="md-icon-button md-primary" aria-label="Settings"  ng-click="showSource = !showSource" style="font-size: 18px; color: #000">
			        <i class="fa fa-cogs"></i>
			    </md-button>
			</div>
		</div>
    </div>
</md-toolbar>

<md-content class="buttondemoBasicUsage md-whiteframe-z1">

	<md-tabs ng-show="showSource">
		<md-tab label="HTML">
			<div readonly ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'html'}">
&#x3C;md-button class=&#x22;md-raised mx-button primary-btn&#x22; ng-click=&#x22;showConfirm($event)&#x22;&#x3E;
&#x9;&#x9;        Confirm Dialog
&#x9;&#x9;      &#x3C;/md-button&#x3E;
			</div>	
		</md-tab>
		<md-tab label="CSS">
			<div ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'css'}">
		


    			</div>	
		</md-tab>
		<md-tab label="JS">
			<div ui-ace="{
			  useWrapMode : true,
			  showGutter: false,
			  theme:'merbivore',
			  mode: 'javascript'}">
(function() { 
    'use strict';

    angular.module('fm')
        .controller('modalsCtrl', selectCtrl);

    selectCtrl.$inject = ['$scope', '$mdDialog']

    function selectCtrl($scope, $mdDialog) {
        var vm = this;



		  $scope.alert = '';
		  $scope.showAlert = function(ev) {
		    // Appending dialog to document.body to cover sidenav in docs app
		    // Modal dialogs should fully cover application
		    // to prevent interaction outside of dialog
		    $mdDialog.show(
		      $mdDialog.alert()
		        .parent(angular.element(document.body))
		        .title('This is an alert title')
		        .content('You can specify some description text in here.')
		        .ariaLabel('Alert Dialog Demo')
		        .ok('Got it!')
		        .targetEvent(ev)
		    );
		  };
		  $scope.showConfirm = function(ev) {
		    // Appending dialog to document.body to cover sidenav in docs app
		    var confirm = $mdDialog.confirm()
		      .title('Would you like to delete your debt?')
		      .content('All of the banks have agreed to forgive you your debts.')
		      .ariaLabel('Lucky day')
		      .ok('Please do it!')
		      .cancel('Sounds like a scam')
		      .targetEvent(ev);
		    $mdDialog.show(confirm).then(function() {
		      $scope.alert = 'You decided to get rid of your debt.';
		    }, function() {
		      $scope.alert = 'You decided to keep your debt.';
		    });
		  };
		  $scope.showAdvanced = function(ev) {
		    $mdDialog.show({
		      controller: DialogController,
		      templateUrl: 'app/modals/dialog1.tmpl.html',
		      targetEvent: ev,
		    })
		    .then(function(answer) {
		      $scope.alert = 'You said the information was "' + answer + '".';
		    }, function() {
		      $scope.alert = 'You cancelled the dialog.';
		    });
		  };

		function DialogController($scope, $mdDialog) {
		  $scope.hide = function() {
		    $mdDialog.hide();
		  };
		  $scope.cancel = function() {
		    $mdDialog.cancel();
		  };
		  $scope.answer = function(answer) {
		    $mdDialog.hide(answer);
		  };

		};



};

})();
    			</div>	
		</md-tab>
	</md-tabs>

   	
   	<section layout="row" layout-wrap layout-padding style="text-align: center">
		<div layout="column" layout-margin>
		  <p class="inset">
		    Open a dialog over the app's content. Press escape or click outside to close the dialog and
		    send focus back to the triggering button.
		  </p>
		  <div layout="column" layout-align="center" class="dialog-demo-content">
		    <div>
		      <md-button class="flat-btn primary-clr" ng-click="showAlert($event)">
		        Alert Dialog
		      </md-button>
		    </div>
		    <div>
		      <md-button class="md-raised mx-button primary-btn" ng-click="showConfirm($event)">
		        Confirm Dialog
		      </md-button>
		    </div>
		    <div>
		      <md-button class="md-fab primary-btn" ng-click="showAdvanced($event)">
		        <i class="fa fa-line-chart"></i>
		      </md-button>
		    </div>
		  </div>
		  <br/>
		  <b layout="row" layout-align="center center" layout-margin>
		    {{alert}}
		  </b>
		</div>
	</section>
</md-content>
