<md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools panel2" layout="row">
		<div flex>
			<h2 class="black-clr">FORM ELEMENTS</h2>
		</div>
		<div flex>
			<div style="text-align: right;">

		        <md-button class="md-icon-button md-primary" aria-label="Settings"  ng-click="showSource = !showSource" style="font-size: 18px; color: #000">
			        <i class="fa fa-cogs"></i>
			     </md-button>
			</div>
		</div>
    </div>
</md-toolbar>

<md-content class="buttondemoBasicUsage md-whiteframe-z1">

	<md-tabs ng-show="showSource">
		<md-tab label="HTML">
			<div readonly ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'html'}">
		

    
 

    			</div>	
		</md-tab>
		<md-tab label="CSS">
			<div ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'css'}">
		
			

    			</div>	
		</md-tab>
		<md-tab label="JS">
			<div ui-ace="{
			  useWrapMode : true,
			  showGutter: false,
			  theme:'merbivore',
			  mode: 'javascript'}">
		
		        

    			</div>	
		</md-tab>
	</md-tabs>

   	
   	<section layout="column" layout-wrap>
	   	

		  <md-content layout-padding class="nobackground">
		    <form name="userForm">
		      <div layout layout-sm="column">
		        <md-input-container style="width:80%" class="primary-clr">
		            <label>Company (Disabled)</label>
		            <input ng-model="user.company" disabled>
		          </md-input-container>
		        <md-input-container flex>
		          <label>Submission Date</label>
		          <input type="date" ng-model="user.submissionDate">
		        </md-input-container>
		      </div>
		      <div layout layout-sm="column">
		        <md-input-container flex>
		          <label>First name</label>
		          <input ng-model="user.firstName">
		        </md-input-container>
		        <md-input-container flex>
		          <label>Last Name</label>
		          <input ng-model="theMax">
		        </md-input-container>
		      </div>
		      <md-input-container flex>
		        <label>Address</label>
		        <input ng-model="user.address">
		      </md-input-container>
		      <md-input-container md-no-float>
		        <input ng-model="user.address2" placeholder="Address 2">
		      </md-input-container>
		      <div layout layout-sm="column">
		        <md-input-container flex>
		          <label>City</label>
		          <input ng-model="user.city">
		        </md-input-container>
		        <md-input-container flex>
		          <label>State</label>
		          <input ng-model="user.state">
		        </md-input-container>
		        <md-input-container flex>
		          <label>Postal Code</label>
		          <input ng-model="user.postalCode">
		        </md-input-container>
		      </div>
		      <md-input-container flex>
		        <label>Biography</label>
		        <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
		      </md-input-container>
		    </form>
		  </md-content>




  <md-content layout-padding>
    <form name="projectForm">
      <md-input-container>
      <pre>
      	{{projectForm.description}}
      </pre>
        <label>Description</label>
        <input md-maxlength="30" required name="description" ng-model="project.description">
        <ng-messages for="expression" role="alert">
        
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Client Name</label>
        <input required name="clientName" ng-model="project.clientName">
        <div ng-messages="projectForm.clientName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Hourly Rate (USD)</label>
        <input required type="number" step="any" name="rate" ng-model="project.rate" min="800" max="4999">
        <div ng-messages="projectForm.rate.$error">
          <div ng-message="required">You've got to charge something! You can't just <b>give away</b> a Missile Defense System.</div>
          <div ng-message="min">You should charge at least $800 an hour. This job is a big deal... if you mess up, everyone dies!</div>
          <div ng-message="max">$5,000 an hour? That's a little ridiculous. I doubt event Bill Clinton could afford that.</div>
        </div>
      </md-input-container>
    </form>
  </md-content>


   	</section>

</md-content>
