<md-toolbar class="md-whiteframe-z1">  
    <div class="md-toolbar-tools panel2" layout="row">
		<div flex> 
			<h2 class="black-clr">TOOLBARS</h2>
		</div>
		<div flex>
			<div style="text-align: right;">

		        <md-button class="md-icon-button md-primary" aria-label="Settings"  ng-click="showSource = !showSource" style="font-size: 18px; color: #000">
			        <i class="fa fa-cogs"></i>
			    </md-button>
			</div>
		</div>
    </div>
</md-toolbar>

<md-content class="buttondemoBasicUsage md-whiteframe-z1">

	<md-tabs ng-show="showSource">
		<md-tab label="HTML">
			<div readonly ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'html'}">

			</div>	
		</md-tab>
		<md-tab label="CSS">
			<div ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'css'}">	


    			</div>	
		</md-tab>
		<md-tab label="JS">
			<div ui-ace="{
			  useWrapMode : true,
			  showGutter: false,
			  theme:'merbivore',
			  mode: 'javascript'}">
       

    			</div>	
		</md-tab>
	</md-tabs>

   	
   	<section layout="row" layout-sm="column" layout-wrap layout-padding style="text-align: left;">
		<div flex>
		    <md-toolbar class="primary-toolbar">
		      <div class="md-toolbar-tools">
		        <md-button class="md-icon-button" aria-label="Settings">
		          <md-icon class="fa fa-bars"></md-icon>
		        </md-button>
		        <h2>
		          <span>Toolbar with Icon Buttons</span>
		        </h2>
		        <span flex></span>
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-envelope-o"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="More">
		          <md-icon class="fa fa-ellipsis-v"></md-icon>
		        </md-button>
		      </div>
		    </md-toolbar>
	  	</div>
	</section>     	

	<section layout="row" layout-sm="column" layout-wrap layout-padding style="text-align: left;">
		<div flex>
		    <md-toolbar class="success-toolbar">
		      <div class="md-toolbar-tools">
		        <md-button class="md-icon-button" aria-label="Settings">
		          <md-icon class="fa fa-bars"></md-icon>
		        </md-button>
		        <h2>
		          <span>Toolbar with Icon Buttons</span>
		        </h2>
		        <span flex></span>
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-tachometer"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="More">
		          <md-icon class="fa fa-envelope-o"></md-icon>
		        </md-button>		        
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-ellipsis-v"></md-icon>
		        </md-button>
		      </div>
		    </md-toolbar>
	  	</div>
	</section>  	

	<section layout="row" layout-sm="column" layout-wrap layout-padding style="text-align: left;">
		<div flex>
		    <md-toolbar class="warn-toolbar">
		      <div class="md-toolbar-tools">
		        <md-button class="md-icon-button" aria-label="Settings">
		          <md-icon class="fa fa-bars"></md-icon>
		        </md-button>
		        <h2>
		          <span>Toolbar with Icon Buttons</span>
		        </h2>
		        <span flex></span>
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-trophy"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-tachometer"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="More">
		          <md-icon class="fa fa-envelope-o"></md-icon>
		        </md-button>		        
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-ellipsis-v"></md-icon>
		        </md-button>
		      </div>
		    </md-toolbar>
	  	</div>
	</section>	

	<section layout="row" layout-sm="column" layout-wrap layout-padding style="text-align: left;">
		<div flex>
		    <md-toolbar class="simple-toolbar">
		      <div class="md-toolbar-tools">
		        <md-button class="md-icon-button" aria-label="Settings">
		          <md-icon class="fa fa-bars"></md-icon>
		        </md-button>
		        <h2>
		          <span>Toolbar with Icon Buttons</span>
		        </h2>
		        <span flex></span>
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-trophy"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-tachometer"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="More">
		          <md-icon class="fa fa-envelope-o"></md-icon>
		        </md-button>		        
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-ellipsis-v"></md-icon>
		        </md-button>
		      </div>
		    </md-toolbar>
	  	</div>
	</section>  	

	<section layout="row" layout-sm="column" layout-wrap layout-padding style="text-align: left;">
		<div flex>
		    <md-toolbar class="primary-toolbar">
		      <div class="md-toolbar-tools">
		        <md-button class="md-icon-button" aria-label="Settings">
		          <md-icon class="fa fa-bars"></md-icon>
		        </md-button>
		        <h2>
		          <span>Toolbar with Icon Buttons</span>
		        </h2>
		        <span flex></span>
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon class="fa fa-envelope-o"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="More">
		          <md-icon class="fa fa-ellipsis-v"></md-icon>
		        </md-button>
		      </div>
		    </md-toolbar>
		  <md-content style="height: 400px;">
		    <md-list>
		      <md-list-item class="md-3-line" ng-repeat="item in toolbar.todos">
		        <img ng-src="{{item.face}}" alt="{{item.who}}" class="md-avatar">
		        <div class="md-list-item-text">
		          <h3>{{item.what}}</h3>
		          <h4>{{item.who}}</h4>
		          <p>
		            {{item.notes}}
		          </p>
		        </div>
		        <md-divider inset></md-divider>
		      </md-list-item>
		    </md-list>
		  </md-content>
	  	</div>
	</section>   	

</md-content>
