.leftmenu-details {
    max-height: 500px;
    transition: .8s;
    overflow-x: scroll;
}

.leftmenu-details.hidden {
    max-height: 0;
    //display:none
}

.mainul {
	@extend .side-nav;

	.ulink {
		text-transform: uppercase;
		padding: 25px 16px 25px 32px;
		display: block;
		color: #333;
		text-decoration: none;
		border-bottom: 1px solid #dde3e7;
		box-shadow: none;
		outline: none;
	}
}

.side-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	background: #fafafa;

	a.md-button {
		padding: 12px 16px 12px 32px;
		display: block;
		text-align: left;
		margin: 0;
		border-bottom: 1px solid #dde3e7;
		border-radius: 0;
		text-transform: none;
	}
}

.ace_editor { height: 500px!important;}

// injector
// endinjector


md-tabs.md-default-theme md-tabs-ink-bar {
	background: black;
	color: black;
}


.panel2 {
	background: #fafafa!important
}

.panel3 {
	background: #dde3e7!important;

	h1 {
		a {
			color: #000
		}
	}

}

.black-clr {
	color: #000!important;
}

.wave-clr {
	background: #5f9e8b!important;
	color:#fff;
	line-height: 10px!important
}


header {
	background: #233849!important;
	h1 {
		color: #fff;
		transition: 0.3s;

		span {
			color: #e64c65;
			transition: 0.3s;
		}
	}

	&:hover {

		h1 {
			color: #e64c65;
		}
		
		span {
			color: #fff;
		}
	}
}

@media only screen and (max-width: 600px) {
	header {
		h1 {
			font-size: 18px;

			span {
				font-size: 18px;
			}
		}
	}
}

.sidetoggle-btn {
	i {
		color:#fff;
	}
}

 .nobackground {
 	background: none!important;
 }

.buttondemoBasicUsage md-content {
	margin-right:0;
}




//=============== MAXTRACK & FLEET

$primary: #224868!important;
$warn: #e64c65!important;
$success: #5f9e8b!important;
$white: #fff!important;
$simple: #fafafa!important;
$text-clr: #333!important;

$primary-rgba: rgba(0, 24, 80, 0.3)!important;
$warn-rgba: rgba(207, 31, 33, 0.3)!important;
$success-rgba: rgba(22, 183, 108, 0.3)!important;


.primary-clr {
	color: $primary
}

.warn-clr {
	color: $warn;
}

.success-clr {
	color:$success;
}

.text-clr {
	color: $text-clr;
}

.flat-btn {
	border-radius: 0!important;
}

.mx-button {
	padding: 0px 25px;
	border-radius: 0!important;
}

.mx-round-button {
	border-radius:50%!important;
	height: 50px;
	width: 50px;
}

.mx-button-icon {
	border-radius: 0!important;
	padding: 0 15px;
	
	i {
		margin-right: 12px;
	}
}


.primary-btn {
	background: $primary;
	color: #fff!important;
}



.warn-btn {
	background: $warn;
	color: #fff!important;
}


.success-btn {
	background: $success;
	color: #fff!important;
}



.white-btn {
	background: $white;
	color: #333!important;
}

.md-fab {
	padding-top: 2px;

	i {
		font-size: 18px;
	}
}

form {
	text-align: left;
	padding: 15px;
}

.primary-clr.md-input-focused {
	.md-input {
		border-color: $primary;
	}

	label {
		color: $primary;
	}
}

 .md-content.md-default-theme {
	background-color: transparent!important;
 }

md-input-container > md-icon {
	font-size: 22px!important;
}

.md-input-focused .md-input {
	border-color: $primary;
}

.md-input-focused label {
	color: $primary;
}

.md-input-focused md-icon {
	color: $primary;
}

//radio buttons

.primary-radio .md-on {
	background-color: $primary
}
.primary-radio .md-off {
	border-color: $primary
}

.warn-radio .md-on {
	background-color: $warn
}
.warn-radio .md-off {
	border-color: $warn
}

.success-radio .md-on {
	background-color: $success
}
.success-radio .md-off {
	border-color: $success
}

.md-default-theme[disabled] .md-container .md-off {
border-color: rgba(0,0,0,0.26)!important;
}

//checkbox
.warn-checkbox.md-checked .md-icon {
	background-color: $warn
}
.success-checkbox.md-checked .md-icon {
	background-color: $success
}
.primary-checkbox.md-checked .md-icon {
	background-color: $primary
}


//switches
.primary-switch.md-checked .md-thumb {
	background-color: $primary
}

.primary-switch.md-checked .md-bar{
	background-color: $primary-rgba;
}

.warn-switch.md-checked .md-thumb {
	background-color: $warn
}

.warn-switch.md-checked .md-bar{
	background-color: $warn-rgba;
}

.success-switch.md-checked .md-thumb {
	background-color: $success
}

.success-switch.md-checked .md-bar {
	background-color: $success-rgba
}

//circle progress
.primary-circle-progress .md-inner .md-right .md-half-circle{
	border-right-color: $primary;
	border-top-color: $primary;
}

.primary-circle-progress .md-inner .md-left .md-half-circle{
	border-left-color: $primary;
	border-top-color: $primary;
}


.warn-circle-progress .md-inner .md-right .md-half-circle{
	border-right-color: $warn;
	border-top-color: $warn;
}

.warn-circle-progress .md-inner .md-left .md-half-circle{
	border-left-color: $warn;
	border-top-color: $warn;
}

.warn-circle-progress .md-inner .md-gap {
	border-top-color: $warn;
	border-bottom-color: $warn;
}

.success-circle-progress .md-inner .md-right .md-half-circle{
	border-right-color: $success;
	border-top-color: $success;
}

.success-circle-progress .md-inner .md-left .md-half-circle{
	border-left-color: $success;
	border-top-color: $success;
}

.success-circle-progress .md-inner .md-gap {
	border-top-color: $success;
	border-bottom-color: $success;
}


//linear progress
.primary-line-progress .md-container{
	background-color: $primary-rgba;
}

.primary-line-progress .md-bar{
	background-color: $primary;
}

.primary-line-progress .md-dashed:before {
	background-color: $primary-rgba;
}

.warn-line-progress .md-container{
	background-color: $warn-rgba;
}

.warn-line-progress .md-bar{
	background-color: $warn;
}

.warn-line-progress .md-dashed:before {
	background-color: $warn-rgba;
}

.success-line-progress .md-container{
	background-color: $success-rgba;
}

.success-line-progress .md-bar{
	background-color: $success;
}

.success-line-progress .md-dashed:before {
	background-color: $success-rgba;
}

.md-chips.md-focused {
	box-shadow: 0 2px $primary;
}


//выравнивание chipsov
 .chipsdemoContactChips .contact-item {
 	float: left;
 	box-sizing: border-box;
 	width: 33%;
 }
 .chipsdemoContactChips .contact-item .md-list-item-text p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

//chips all in primary color
.md-chip.md-focused {
	background: $success;
}


//select
md-option[selected] {
	color: $primary;
}

.md-select-label{
	border-bottom-color: $primary;
}

.ng-invalid.ng-dirty .md-select-label {
	color: #000;
}

.a.md-button.md-default-theme.md-primary, 
.md-button.md-default-theme.md-primary {
	color: $primary;
}

// ЗАГОЛОВКИ

.md-subheader {
	color: $text-clr;
	font-size: 18px;
	font-weight: 700;
}

.md-subheader .md-subheader-inner {
	font-weight: 700;
}

.face {
	margin: 15px 20px 0 0
}

//Toolbars

.success-toolbar {
	background: $success;
	color: $white;
}

.primary-toolbar {
	background: $primary;
	color: $white;
}

.warn-toolbar {
	background: $warn;
	color: $white;
}

.simple-toolbar {
	background: $simple;
	color: $text-clr;

	md-icon {
		color: $text-clr;
	}
}

md-toolbar.md-default-theme md-icon {
	font-size: 18px;
	padding-top: 5px;
}

//tabs

.primary-tabs md-ink-bar{
	background: $primary;
}

.primary-tabs .md-tab.md-active {
	color: $primary;
}

.primary-tabs .md-focused{
	background-color:$primary
}

.warn-tabs md-ink-bar{
	background: $warn;
}

.warn-tabs .md-tab.md-active {
	color: $warn;
}

.warn-tabs .md-focused{
	background-color:$warn
}

.success-tabs md-ink-bar{
	background: $success
}

.success-tabs .md-tab.md-active {
	color: $success
}

.success-tabs .md-focused{
	background-color:$success
}

//SLIDERS

.primary-slider .md-thumb:after,
.primary-slider .md-track-fill {
	border-color:$primary;
	background-color:$primary;
}

.warn-slider .md-thumb:after,
.warn-slider .md-track-fill {
	border-color:$warn;
	background-color:$warn;
}

.success-slider .md-thumb:after,
.success-slider .md-track-fill {
	border-color:$success;
	background-color:$success;
}

.md-sign:after {
	border-top-color: $text-clr;
}
.md-sign {
	background-color: $text-clr;
}

md-whiteframe {
	background: #fff;
	margin: 20px;
	padding: 20px;
}

//toasts

md-toast a {
	cursor: pointer;
}
.success-toast {
	background: $success
}
.warn-toast {
	background: $warn
}

md-autocomplete button {
	bottom: 10px!important;
}


/*====MEDIA====*/

@media only screen and (max-width: 1000px) {
 .chipsdemoContactChips .contact-item {
 	width: 50%;
 }	
}

@media only screen and (max-width: 830px) {
 .chipsdemoContactChips .contact-item {
 	width: 100%;
 }	

}

