<md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools panel2" layout="row">
		<div flex> 
			<h2 class="black-clr">LISTS</h2>
		</div>
		<div flex>
			<div style="text-align: right;">

		        <md-button class="md-icon-button md-primary" aria-label="Settings"  ng-click="showSource = !showSource" style="font-size: 18px; color: #000">
			        <i class="fa fa-cogs"></i>
			    </md-button>
			</div>
		</div>
    </div>
</md-toolbar>

<md-content class="buttondemoBasicUsage md-whiteframe-z1">

	<md-tabs ng-show="showSource">
		<md-tab label="HTML">
			<div readonly ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'html'}">
&#x3C;!--3 line item--&#x3E;
&#x9;&#x9;&#x9;      &#x3C;md-list-item class=&#x22;md-3-line&#x22; ng-repeat=&#x22;item in todos&#x22;&#x3E;
&#x9;&#x9;&#x9;        &#x3C;img ng-src=&#x22;{{item.face}}?{{$index}}&#x22; class=&#x22;md-avatar&#x22; alt=&#x22;{{item.who}}&#x22; /&#x3E;
&#x9;&#x9;&#x9;        &#x3C;div class=&#x22;md-list-item-text&#x22;&#x3E;
&#x9;&#x9;&#x9;          &#x3C;h3&#x3E;{{ item.who }}&#x3C;/h3&#x3E;
&#x9;&#x9;&#x9;          &#x3C;h4&#x3E;{{ item.what }}&#x3C;/h4&#x3E;
&#x9;&#x9;&#x9;          &#x3C;p&#x3E;{{ item.notes }}&#x3C;/p&#x3E;
&#x9;&#x9;&#x9;        &#x3C;/div&#x3E;
&#x9;&#x9;&#x9;      &#x3C;/md-list-item&#x3E;

&#x3C;!--2 line item--&#x3E;
&#x9;&#x9;&#x9;      &#x3C;md-list-item class=&#x22;md-2-line&#x22;&#x3E;
&#x9;&#x9;&#x9;      &#x3C;img ng-src=&#x22;{{todos[0].face}}?20&#x22; class=&#x22;md-avatar&#x22; alt=&#x22;{{todos[0].who}}&#x22; /&#x3E;
&#x9;&#x9;&#x9;        &#x3C;div class=&#x22;md-list-item-text&#x22;&#x3E;
&#x9;&#x9;&#x9;          &#x3C;h3&#x3E;{{ todos[0].who }}&#x3C;/h3&#x3E;
&#x9;&#x9;&#x9;          &#x3C;p&#x3E;Secondary text&#x3C;/p&#x3E;
&#x9;&#x9;&#x9;        &#x3C;/div&#x3E;
&#x9;&#x9;&#x9;      &#x3C;/md-list-item&#x3E;

&#x3C;!--md-offset class--&#x3E;
&#x9;&#x9;&#x9;      &#x3C;md-list-item class=&#x22;md-2-line&#x22; ng-repeat=&#x22;phone in phones&#x22;&#x3E;
&#x9;&#x9;&#x9;        &#x3C;md-icon class=&#x22;fa fa-home&#x22; ng-if=&#x22;$index === 0&#x22; style=&#x22;font-size: 30px; margin-left: 7px; margin-right: 25px&#x22;&#x3E;&#x3C;/md-icon&#x3E;
&#x9;&#x9;&#x9;        &#x3C;div class=&#x22;md-list-item-text&#x22; ng-class=&#x22;{&#x27;md-offset&#x27;: $index != 0 }&#x22;&#x3E;
&#x9;&#x9;&#x9;          &#x3C;h3&#x3E; {{ phone.number }} &#x3C;/h3&#x3E;
&#x9;&#x9;&#x9;          &#x3C;p&#x3E; {{ phone.type }} &#x3C;/p&#x3E;
&#x9;&#x9;&#x9;        &#x3C;/div&#x3E;
&#x9;&#x9;&#x9;      &#x3C;/md-list-item&#x3E;

&#x3C;!--list with checkboxes--&#x3E;
&#x9;&#x9;&#x9;  &#x3C;md-list-item ng-repeat=&#x22;topping in toppings&#x22;&#x3E;
&#x9;&#x9;&#x9;    &#x3C;p&#x3E; {{ topping.name }} &#x3C;/p&#x3E;
&#x9;&#x9;&#x9;    &#x3C;md-checkbox class=&#x22;success-checkbox&#x22; ng-model=&#x22;topping.wanted&#x22;&#x3E;&#x3C;/md-checkbox&#x3E;
&#x9;&#x9;&#x9;  &#x3C;/md-list-item&#x3E;

&#x3C;!--list with switches--&#x3E;
&#x9;&#x9;&#x9;  &#x3C;md-list-item ng-click=&#x22;navigateTo(setting.extraScreen, $event)&#x22; ng-repeat=&#x22;setting in settings&#x22;&#x3E;
&#x9;&#x9;&#x9;    &#x3C;md-icon class=&#x22;{{setting.icon}}&#x22; style=&#x22;font-size: 20px; margin-top: 20px; margin-left: 10px; margin-right: 18px;&#x22;&#x3E;&#x3C;/md-icon&#x3E;
&#x9;&#x9;&#x9;    &#x3C;p&#x3E; {{ setting.name }} &#x3C;/p&#x3E;
&#x9;&#x9;&#x9;    &#x3C;md-switch class=&#x22;warn-switch&#x22; ng-model=&#x22;setting.enabled&#x22;&#x3E;&#x3C;/md-switch&#x3E;
&#x9;&#x9;&#x9;  &#x3C;/md-list-item&#x3E;

&#x3C;!--list with secondary action--&#x3E;
&#x9;&#x9;&#x9;  &#x3C;md-list-item ng-repeat=&#x22;message in messages&#x22;&#x3E;
&#x9;&#x9;&#x9;    &#x3C;md-checkbox ng-model=&#x22;message.selected&#x22; class=&#x22;primary-checkbox&#x22;&#x3E;&#x3C;/md-checkbox&#x3E;
&#x9;&#x9;&#x9;    &#x3C;p&#x3E;{{message.title}}&#x3C;/p&#x3E;
&#x9;&#x9;&#x9;    &#x3C;md-icon class=&#x22;md-secondary&#x22; ng-click=&#x22;doSecondaryAction($event)&#x22; aria-label=&#x22;Chat&#x22; md-svg-icon=&#x22;communication:message&#x22;&#x3E;&#x3C;/md-icon&#x3E;
&#x9;&#x9;&#x9;  &#x3C;/md-list-item&#x3E;

&#x3C;!--list with avatars icon and modal--&#x3E;
&#x9;&#x9;&#x9;  &#x3C;md-list-item ng-repeat=&#x22;person in people&#x22; ng-click=&#x22;goToPerson(person.name, $event)&#x22;&#x3E;
&#x9;&#x9;&#x9;    &#x3C;img alt=&#x22;{{ person.name }}&#x22; ng-src=&#x22;{{ person.img }}&#x22; class=&#x22;md-avatar&#x22; /&#x3E;
&#x9;&#x9;&#x9;    &#x3C;p&#x3E;{{ person.name }}&#x3C;/p&#x3E;
&#x9;&#x9;&#x9;    &#x3C;md-icon md-svg-icon=&#x22;communication:messenger&#x22; ng-click=&#x22;doSecondaryAction($event)&#x22; aria-label=&#x22;Open Chat&#x22; class=&#x22;fa fa-comments-o&#x22; ng-class=&#x22;{&#x27;success-clr&#x27;: person.newMessage}&#x22; style=&#x22;font-size: 20px;&#x22;&#x3E;&#x3C;/md-icon&#x3E;
&#x9;&#x9;&#x9;  &#x3C;/md-list-item&#x3E;


			</div>	
		</md-tab>
		<md-tab label="CSS">
			<div ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'css'}">
		


    			</div>	
		</md-tab>
		<md-tab label="JS">
			<div ui-ace="{
			  useWrapMode : true,
			  showGutter: false,
			  theme:'merbivore',
			  mode: 'javascript'}">
  
(function() { 
    'use strict';

    angular.module('fm')
        .controller('listsCtrl', selectCtrl);

    selectCtrl.$inject = ['$scope', '$mdDialog' ]


    function selectCtrl($scope, $mdDialog) {
        var vm = this;



	   var imagePath = 'assets/images/60.jpeg';
	    $scope.phones = [
	      { type: 'Home', number: '(555) 251-1234' },
	      { type: 'Cell', number: '(555) 786-9841' },
	    ];
	    $scope.todos = [
	      {
	        face : imagePath,
	        what: 'Brunch this weekend?',
	        who: 'Min Li Chan',
	        when: '3:08PM',
	        notes: " I'll be in your neighborhood doing errands"
	      },
	      {
	        face : imagePath,
	        what: 'Brunch this weekend?',
	        who: 'Min Li Chan',
	        when: '3:08PM',
	        notes: " I'll be in your neighborhood doing errands"
	      },
	      {
	        face : imagePath,
	        what: 'Brunch this weekend?',
	        who: 'Min Li Chan',
	        when: '3:08PM',
	        notes: " I'll be in your neighborhood doing errands"
	      },
	      {
	        face : imagePath,
	        what: 'Brunch this weekend?',
	        who: 'Min Li Chan',
	        when: '3:08PM',
	        notes: " I'll be in your neighborhood doing errands"
	      },
	      {
	        face : imagePath,
	        what: 'Brunch this weekend?',
	        who: 'Min Li Chan',
	        when: '3:08PM',
	        notes: " I'll be in your neighborhood doing errands"
	      },
	    ];


	    //lists with checkboxes

	      $scope.toppings = [
		    { name: 'Pepperoni', wanted: true },
		    { name: 'Sausage', wanted: false },
		    { name: 'Black Olives', wanted: true },
		    { name: 'Green Peppers', wanted: false }
		  ];
		  $scope.settings = [
		    { name: 'Wi-Fi', extraScreen: 'Wi-fi menu', icon: 'fa fa-wifi', enabled: true },
		    { name: 'Bluetooth', extraScreen: 'Bluetooth menu', icon: 'fa fa-forumbee', enabled: false },
		  ];
		  $scope.messages = [
		    {id: 1, title: "Message A", selected: false},
		    {id: 2, title: "Message B", selected: true},
		    {id: 3, title: "Message C", selected: true},
		  ];
		  $scope.people = [
		    { name: 'Janet Perkins', img: 'assets/images/100-1.jpeg', newMessage: true },
		    { name: 'Mary Johnson', img: 'assets/images/100-1.jpeg', newMessage: false },
		    { name: 'Peter Carlsson', img: 'assets/images/100-1.jpeg', newMessage: false }
		  ];
		  $scope.goToPerson = function(person, event) {
		    $mdDialog.show(
		      $mdDialog.alert()
		        .title('Navigating')
		        .content('Inspect ' + person)
		        .ariaLabel('Person inspect demo')
		        .ok('Neat!')
		        .targetEvent(event)
		    );
		  };
		  $scope.navigateTo = function(to, event) {
		    $mdDialog.show(
		      $mdDialog.alert()
		        .title('Navigating')
		        .content('Imagine being taken to ' + to)
		        .ariaLabel('Navigation demo')
		        .ok('Neat!')
		        .targetEvent(event)
		    );
		  };
		  $scope.doSecondaryAction = function(event) {
		    $mdDialog.show(
		      $mdDialog.alert()
		        .title('Secondary Action')
		        .content('Secondary actions can be used for one click actions')
		        .ariaLabel('Secondary click demo')
		        .ok('Neat!')
		        .targetEvent(event)
		    );
		  };



};

})();

    			</div>	
		</md-tab>
	</md-tabs>

   	
   	<section layout-sm="column" layout="row" layout-wrap layout-padding style="text-align: left">
   		<div flex>
			 <md-content class="nobackground">
			    <md-list>
			      <md-subheader class="md-no-sticky nobackground">3 line item</md-subheader>
			      <md-list-item class="md-3-line" ng-repeat="item in todos">
			        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
			        <div class="md-list-item-text">
			          <h3>{{ item.who }}</h3>
			          <h4>{{ item.what }}</h4>
			          <p>{{ item.notes }}</p>
			        </div>
			      </md-list-item>
			      <md-divider ></md-divider>
			      <md-subheader class="md-no-sticky nobackground">2 line item</md-subheader>
			      <md-list-item class="md-2-line">
			      <img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}" />
			        <div class="md-list-item-text">
			          <h3>{{ todos[0].who }}</h3>
			          <p>Secondary text</p>
			        </div>
			      </md-list-item>
			      <md-divider ></md-divider>
			      <md-subheader class="md-no-sticky nobackground">3 line item, long paragraph (see on mobile)</md-subheader>
			      <md-list-item class="md-3-line">
			        <img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}" />
			        <div class="md-list-item-text">
			          <h3>{{ todos[0].who }}</h3>
			          <p>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</p>
			        </div>
			      </md-list-item>
			      <md-divider ></md-divider>
			      <md-subheader class="md-no-sticky nobackground">md-offset class</md-subheader>
			      <md-list-item class="md-2-line" ng-repeat="phone in phones">
			        <md-icon class="fa fa-home" ng-if="$index === 0" style="font-size: 30px; margin-left: 7px; margin-right: 25px"></md-icon>
			        <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
			          <h3> {{ phone.number }} </h3>
			          <p> {{ phone.type }} </p>
			        </div>
			      </md-list-item>
			    </md-list>
			  </md-content>
		  </div>

		  <div flex>
			<md-list>

			  <md-subheader class="md-no-sticky nobackground">Single Action Checkboxes</md-subheader>
			  <md-list-item ng-repeat="topping in toppings">
			    <p> {{ topping.name }} </p>
			    <md-checkbox class="success-checkbox" ng-model="topping.wanted"></md-checkbox>
			  </md-list-item>

			  <md-divider></md-divider>

			  <md-subheader class="md-no-sticky nobackground">Clickable Items with Secondary Controls</md-subheader>

			  <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="setting in settings">
			    <md-icon class="{{setting.icon}}" style="font-size: 20px; margin-top: 20px; margin-left: 10px; margin-right: 18px;"></md-icon>
			    <p> {{ setting.name }} </p>
			    <md-switch class="warn-switch" ng-model="setting.enabled"></md-switch>
			  </md-list-item>

			  <md-list-item ng-click="navigateTo('data usage', $event)">
			    <md-icon class="fa fa-unlock" style="font-size: 20px; margin-top: 20px; margin-left: 10px; margin-right: 18px;"></md-icon>
			    <p>Data Usage</p>
			  </md-list-item>

			  <md-divider></md-divider>

			  <md-subheader class="md-no-sticky nobackground">Checkbox with Secondary Action</md-subheader>
			  <md-list-item ng-repeat="message in messages">
			    <md-checkbox ng-model="message.selected" class="primary-checkbox"></md-checkbox>
			    <p>{{message.title}}</p>
			    <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
			  </md-list-item>
			  <md-divider></md-divider>

			  <md-subheader class="md-no-sticky nobackground">Avatar with Secondary Action Icon</md-subheader>
			  <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)">
			    <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
			    <p>{{ person.name }}</p>
			    <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="fa fa-comments-o" ng-class="{'success-clr': person.newMessage}" style="font-size: 20px;"></md-icon>
			  </md-list-item>
			</md-list>
		  </div>
	</section>
</md-content>
