.side-nav {
	background-color: $navbar-default-bg; 
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%
}

.side-nav li {
	a {
		display: block;
		padding: 10px 20px;
		text-decoration: none;
		color: $navbar-default-link-color;	
		&:hover {
			background-color: $gray-light;
			color: white;
		}
	}
}
