<md-toolbar class="md-whiteframe-z1">  
    <div class="md-toolbar-tools panel2" layout="row">
		<div flex> 
			<h2 class="black-clr">TOASTS</h2>
		</div>
		<div flex>
			<div style="text-align: right;">

		        <md-button class="md-icon-button md-primary" aria-label="Settings"  ng-click="showSource = !showSource" style="font-size: 18px; color: #000">
			        <i class="fa fa-cogs"></i>
			    </md-button>
			</div>
		</div>
    </div>
</md-toolbar>

<md-content class="buttondemoBasicUsage md-whiteframe-z1">

	<md-tabs ng-show="showSource">
		<md-tab label="HTML">
			<div readonly ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'html'}">

			</div>	
		</md-tab>
		<md-tab label="CSS">
			<div ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'css'}">	

    			</div>	
		</md-tab>
		<md-tab label="JS">
			<div ui-ace="{
			  useWrapMode : true,
			  showGutter: false,
			  theme:'merbivore',
			  mode: 'javascript'}">
       

    			</div>	
		</md-tab>
	</md-tabs>

   	
   	<section layout="row" layout-sm="column" layout-wrap layout-padding style="text-align: left;">
   		<div flex>
		    <p>Toast can be dismissed with a swipe, a timer, or a button.</p>
		    <div layout="row" layout-sm="column" layout-align="space-around">
		      <div style="width:50px"></div>
		      <md-button ng-click="showCustomToast()">
		        Show Custom
		      </md-button>		      
		      <md-button ng-click="showSuccessToast()">
		        Success
		      </md-button>		      
		      <md-button ng-click="showWarningToast()">
		        Warning
		      </md-button>
		      <md-button ng-click="showSimpleToast()">
		        Show Simple
		      </md-button>
		      <md-button class="md-raised" ng-click="showActionToast()">
		        Show With Action
		      </md-button>
		      <div style="width:50px"></div>
		    </div>
		    <div>
		      <br/>
		      <b>Toast Position: "{{getToastPosition()}}"</b>
		      <br/>
		      <md-checkbox ng-repeat="(name, isSelected) in toastPosition"
		        ng-model="toastPosition[name]"
				class="warn-checkbox"
		        >
		        {{name}}
		      </md-checkbox>
		    </div>   
	  	</div>
	</section>   	

</md-content>
