<md-toolbar class="md-whiteframe-z1">  
    <div class="md-toolbar-tools panel2" layout="row">
		<div flex> 
			<h2 class="black-clr">SIDENAV</h2>
		</div>
		<div flex>
			<div style="text-align: right;">

		        <md-button class="md-icon-button md-primary" aria-label="Settings"  ng-click="showSource = !showSource" style="font-size: 18px; color: #000">
			        <i class="fa fa-cogs"></i>
			    </md-button>
			</div>
		</div>
    </div>
</md-toolbar>

<md-content class="buttondemoBasicUsage md-whiteframe-z1">

	<md-tabs ng-show="showSource">
		<md-tab label="HTML">
			<div readonly ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'html'}">
&#x3C;!--sidenavs--&#x3E;
&#x9;    &#x3C;md-sidenav flex class=&#x22;md-sidenav-left md-whiteframe-z2&#x22; md-component-id=&#x22;leftinner&#x22; md-is-locked-open=&#x22;$mdMedia(&#x27;gt-md&#x27;)&#x22; style=&#x22;padding:0&#x22;&#x3E;
&#x9;&#x9;      &#x3C;md-toolbar class=&#x22;success-toolbar&#x22;&#x3E;
&#x9;&#x9;        &#x3C;h1 class=&#x22;md-toolbar-tools&#x22;&#x3E;Sidenav Left&#x3C;/h1&#x3E;
&#x9;&#x9;      &#x3C;/md-toolbar&#x3E;
&#x9;&#x9;      &#x3C;md-content layout-padding ng-controller=&#x22;LeftCtrl&#x22;&#x3E;
&#x9;&#x9;        &#x3C;md-button ng-click=&#x22;close()&#x22; class=&#x22;md-primary&#x22; hide-gt-md&#x3E;
&#x9;&#x9;          Close Sidenav Left
&#x9;&#x9;        &#x3C;/md-button&#x3E;
&#x9;&#x9;        &#x3C;p hide-md show-gt-md&#x3E;
&#x9;&#x9;          This sidenav is locked open on your device. To go back to the default behavior,
&#x9;&#x9;          narrow your display.
&#x9;&#x9;        &#x3C;/p&#x3E;
&#x9;&#x9;      &#x3C;/md-content&#x3E;
&#x9;&#x9;    &#x3C;/md-sidenav&#x3E;
&#x9;&#x9;    &#x3C;md-content flex layout-padding&#x3E;
&#x9;&#x9;      &#x3C;div layout=&#x22;column&#x22; layout-fill layout-align=&#x22;top center&#x22;&#x3E;
&#x9;&#x9;        &#x3C;p&#x3E;
&#x9;&#x9;        The left sidenav will &#x27;lock open&#x27; on a medium (&#x3E;=960px wide) device.
&#x9;&#x9;        &#x3C;/p&#x3E;
&#x9;&#x9;        &#x3C;p&#x3E;
&#x9;&#x9;        The right sidenav will focus on a specific child element.
&#x9;&#x9;        &#x3C;/p&#x3E;
&#x9;&#x9;        &#x3C;div&#x3E;
&#x9;&#x9;          &#x3C;md-button ng-click=&#x22;toggleLeftex()&#x22;
&#x9;&#x9;            class=&#x22;md-primary&#x22; hide-gt-md&#x3E;
&#x9;&#x9;            Toggle left
&#x9;&#x9;          &#x3C;/md-button&#x3E;
&#x9;&#x9;        &#x3C;/div&#x3E;
&#x9;&#x9;        &#x3C;div&#x3E;
&#x9;&#x9;          &#x3C;md-button ng-click=&#x22;toggleRight()&#x22;
&#x9;&#x9;            class=&#x22;md-primary&#x22;&#x3E;
&#x9;&#x9;            Toggle right
&#x9;&#x9;          &#x3C;/md-button&#x3E;
&#x9;&#x9;        &#x3C;/div&#x3E;
&#x9;&#x9;      &#x3C;/div&#x3E;
&#x9;&#x9;      &#x3C;div flex&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;    &#x3C;/md-content&#x3E;
&#x9;&#x9;    &#x3C;md-sidenav class=&#x22;md-sidenav-right md-whiteframe-z2&#x22; md-component-id=&#x22;right&#x22;&#x3E;
&#x9;&#x9;      &#x3C;md-toolbar class=&#x22;warn-toolbar&#x22;&#x3E;
&#x9;&#x9;        &#x3C;h1 class=&#x22;md-toolbar-tools&#x22;&#x3E;Sidenav Right&#x3C;/h1&#x3E;
&#x9;&#x9;      &#x3C;/md-toolbar&#x3E;
&#x9;&#x9;      &#x3C;md-content ng-controller=&#x22;RightCtrl&#x22; layout-padding&#x3E;
&#x9;&#x9;        &#x3C;form&#x3E;
&#x9;&#x9;          &#x3C;md-input-container&#x3E;
&#x9;&#x9;            &#x3C;label for=&#x22;testInput&#x22;&#x3E;Test input&#x3C;/label&#x3E;
&#x9;&#x9;            &#x3C;input type=&#x22;text&#x22; id=&#x22;testInput&#x22;
&#x9;&#x9;                   ng-model=&#x22;data&#x22; md-sidenav-focus&#x3E;
&#x9;&#x9;          &#x3C;/md-input-container&#x3E;
&#x9;&#x9;        &#x3C;/form&#x3E;
&#x9;&#x9;        &#x3C;md-button ng-click=&#x22;close()&#x22; class=&#x22;md-primary&#x22;&#x3E;
&#x9;&#x9;          Close Sidenav Right
&#x9;&#x9;        &#x3C;/md-button&#x3E;
&#x9;&#x9;      &#x3C;/md-content&#x3E;
&#x9;&#x9;    &#x3C;/md-sidenav&#x3E;
			</div>	
		</md-tab>
		<md-tab label="CSS">
			<div ui-ace="{
			  useWrapMode : true,
			  theme:'merbivore',
			  mode: 'css'}">	

    			</div>	
		</md-tab>
		<md-tab label="JS">
			<div ui-ace="{
			  useWrapMode : true,
			  showGutter: false,
			  theme:'merbivore',
			  mode: 'javascript'}">
(function() {  
    'use strict';

    angular.module('fm')
		.controller('SidenavsCtrl', sidenavCtrl)
		.controller('LeftCtrl', function ($scope, $timeout, $mdSidenav, $log) {
			$scope.close = function () {
				$mdSidenav('leftinner').close()
				.then(function () {
				  $log.debug("close LEFT is done");
				});
			};
		})
		.controller('RightCtrl', function ($scope, $timeout, $mdSidenav, $log) {
		$scope.close = function () {
			$mdSidenav('right').close()
			.then(function () {
			  	$log.debug("close RIGHT is done");
			});
		};
		});

    sidenavCtrl.$inject = ['$scope', '$timeout', '$mdSidenav', '$mdUtil', '$log']

    function sidenavCtrl($scope, $timeout, $mdSidenav, $mdUtil, $log) {
        var vm = this;

	    $scope.toggleLeftex = buildToggler('leftinner');
	    $scope.toggleRight = buildToggler('right');
	    /**
	     * Build handler to open/close a SideNav; when animation finishes
	     * report completion in console
	     */

	     function buildToggler(navID) {
	      var debounceFn =  $mdUtil.debounce(function(){
	            $mdSidenav(navID)
	              .toggle()
	              .then(function () {
	                $log.debug("toggle " + navID + " is done");
	              });
	          },300);
	      return debounceFn;
	    }

    };

})();




       

    			</div>	
		</md-tab>
	</md-tabs>

   	
   	<section layout="row" layout-sm="column" layout-wrap layout-padding style="text-align: left; height: 600px;">

		    <md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-component-id="leftinner" md-is-locked-open="$mdMedia('gt-md')" style="padding:0">
		      <md-toolbar class="success-toolbar">
		        <h1 class="md-toolbar-tools">Sidenav Left</h1>
		      </md-toolbar>
		      <md-content layout-padding ng-controller="LeftCtrl">
		        <md-button ng-click="close()" class="md-primary" hide-gt-md>
		          Close Sidenav Left
		        </md-button>
		        <p hide-md show-gt-md>
		          This sidenav is locked open on your device. To go back to the default behavior,
		          narrow your display.
		        </p>
		      </md-content>
		    </md-sidenav>
		    <md-content flex layout-padding>
		      <div layout="column" layout-fill layout-align="top center">
		        <p>
		        The left sidenav will 'lock open' on a medium (>=960px wide) device.
		        </p>
		        <p>
		        The right sidenav will focus on a specific child element.
		        </p>
		        <div>
		          <md-button ng-click="toggleLeftex()"
		            class="md-primary" hide-gt-md>
		            Toggle left
		          </md-button>
		        </div>
		        <div>
		          <md-button ng-click="toggleRight()"
		            class="md-primary">
		            Toggle right
		          </md-button>
		        </div>
		      </div>
		      <div flex></div>
		    </md-content>
		    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
		      <md-toolbar class="warn-toolbar">
		        <h1 class="md-toolbar-tools">Sidenav Right</h1>
		      </md-toolbar>
		      <md-content ng-controller="RightCtrl" layout-padding>
		        <form>
		          <md-input-container>
		            <label for="testInput">Test input</label>
		            <input type="text" id="testInput"
		                   ng-model="data" md-sidenav-focus>
		          </md-input-container>
		        </form>
		        <md-button ng-click="close()" class="md-primary">
		          Close Sidenav Right
		        </md-button>
		      </md-content>
		    </md-sidenav>	    

	</section>   	

</md-content>
